@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #202040;
}
.App {
  text-align: center;
  background-color: #202040;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.course-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.course-preview-container {
  display: flex;
  justify-content: space-between;
}

.course-preview-container iframe {
  align-self: flex-start;
  padding-right: 6%;
}

.description {
  color: white;
  padding-top: 5%;
  text-align: start;
  font-size: .8em;
  line-height: 2.3em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}


.course-content {
  width: 75%;
}

.itc-button {
  background: #602080;
  border: none;
  text-transform: uppercase;
  color: white;
  height: 5%;
  width: 10%;
  align-self: flex-start;
}

.sidebar {
  height: 83vh;
  width: 23%;
  background: #202060 ;
  align-self: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-item {
  padding: 0 auto;
  display: flex;
  height: 100%;
  justify-content: center;
}

.sidebar-item p {
  align-self: center;
}

.sidebar-item:hover {
  background: #202040;
  cursor: pointer;
}

.sidebar-item-active {
  background: #602080;
}

.course-search {
  margin: 0 auto;
}

.white-font {
  color: white;
}

